﻿@model UserCoursesViewModel

    <h3>Available Courses</h3>
    <ul>
        @foreach (var course in Model.Courses)
        {
            <li><a href="@course.Link">@course.Name</a></li>
        }
    </ul>
<p>Please click to take lesson!</p>